<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="icon" type="image/x-icon" href="../../static/icon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">.

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@1,600&family=Sevillana&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&family=Open+Sans:ital,wght@1,600&family=Sevillana&display=swap" rel="stylesheet">
</head>

<body style="margin: -2%!important;overflow-x: hidden;">

    <div style="background-image: url('../static/contack-back.jpg'); height:39.1rem ;">
    <nav>

        <img src="../static/ico.png" class="cona" style="filter: grayscale(100%) invert(100%);" alt="A">   
        <ul style="list-style: none;" class="center conA">
    
            <li><a href="/" class="lia">Home</a></li>
            <li><a class="lia" href="/about">About Us</a></li>
            <li><a class="lia" href="/conta" >Contact</a></li>
            
        </ul>
        <a target="_blank" style="    margin-right: 4pc;
        margin-top: 34px;
        display: inline-block;
        float: right;" id="vg" href="https://github.com/Abhijeet213">Visit My Github</a>
    </nav>
<div class="conta">
    <h1 style="text-align: center;color: darkgoldenrod;margin-top: 48px;">Contact Me</h1>
    <form action="/conta/" method="post" style="text-align: center;">
        <input type="text" name="fn" class="conta" placeholder="Full Name">
        <br>
        <br>
        <input type="email" name="email" class="conta" placeholder="Email">
        <br>
        <br>
        <textarea type="text" name="desc" class="conta" style="height:5pc;" placeholder="Message"></textarea>
        <br>
        <br>
        <button type="submit" class="suba" onclick="showAlert()" style="border-radius: 13px;
        height: 37px;
        width: 63px;">Send</button>
</div>
</div>
<div class="footer" style="    padding-bottom: 14px;
padding-top: 14px;
padding-right: 25px;
padding-left: 2rem;">

  <a class="fot" href="https://www.linkedin.com/in/abhijeet-bissa-2b5716240/" target="_blank" style="text-decoration: none;"><i class="fa-brands fa-linkedin fa-lg" style="color: #ffffff;"></i></a>
  <a class="fot" href="https://www.youtube.com/channel/UCW2ZcgZagE7KteLhG4gnNZA?sub_confirmation=1" target="_blank" style="text-decoration: none;" ><i class="fa-brands fa-youtube fa-lg" style="color: #ffffff;"></i> </a>
  <a class="fot" href="https://discord.com/channels/abhijeetbissa_55697" target="_blank" style="text-decoration: none;" ><i class="fa-brands fa-discord fa-lg" style="color: #ffffff;"></i></a>
  <a class="fot" href="https://github.com/Abhijeet213" target="_blank" style="text-decoration: none;"><i class="fa-brands fa-github fa-lg" style="color: #ffffff;"></i></a>
  <h4 style="color: white;float: right;display: inline-block;    margin: 0pc; margin-right: 5px!important;">Copyright © 2024 ....com</h4>
</div>

<script src="https://kit.fontawesome.com/434b6d12d5.js" crossorigin="anonymous"></script>
</body>
</html>